html,body{
    margin: auto;
    max-width: 1200px;
    height: 100%;      
}


/*Primer modulo*/

#abuelo1{
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    background-image: url("img/header.jpg");
    background-size: cover;
    background-position: center;
}
#padre1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 35%;
}
#padre2{
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-evenly;
    width: 85%;
    height: 32%;
    background-color: rgba(209, 206, 206,0.6);
}

#hijo3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 70%;
    gap: 10px;
    color: rgb(150, 148, 148);  
}
#hijo1{
    width: 80px;
}

#hijo2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 33%;
    font-size: 1.2em;
    color: rgb(150, 148, 148);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
#face:hover{
    color:#2050b3;
    transition:ease-out 0.5s;
    cursor: pointer;
}
#twitter,#face{
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
}
#twitter:hover{
    color: #00bfff;
    transition:ease-out 0.5s;
    cursor: pointer;
}
.enlace{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:5px;
}
.enlace:hover{

    color: #e47467;
    font-size: 1.3em;
    transition:ease-out 0.5s;
    cursor: pointer;

}
#hijo4{
    width: 95%;
    height: 30%;
    margin-top: 0.5%;
    color:orange;
    font-size: 1.4em;
}

/* Segundo modulo */

#abuelo2{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 22%;
    background-color: black;
    margin-bottom: 15px;
}
#padre3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    height: 75%;
    background-color: darkslateblue;
}
#padre4{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 28%;
    height: 75%;
    background-color: indianred;
}

.hijo{
    width: 45%;
    height: 15%;
    background-color: #1162ac;
}

#hijo5{
    width: 93%;
    height: 15%;
    background-color: lightcyan;
}
#hijo6{
    margin: 10px 0px 0px 0px;
    width: 90%;
    height: 15%;
    background-color: gold;
}
#hijo7{

    margin: 10px 0px 0px 0px;
    width: 90%;
    height: 15%;
    background-color: gold;
}

/* Tercer modulo */

#abuelo3{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    background-color: black;
}

#padre5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 95%;
    height: 33%;
    background-color: goldenrod;
}
@media only screen and (max-width: 800px){
    
     
    #hijo1{
        width:80px ;
    }
    #hijo4{
        font-size: medium;
    }
    #abuelo2{
        flex-direction: column;
        height: 35%;
        background-color: yellow;   
    }
    #padre3{
        width: 92%;
        height: 45%;
    }
    #padre4{
        justify-content: space-evenly;
        align-content: center;
        width: 92%;
        height: 35%;
    }
 
    #hijo6{
        margin: 0px;
        width: 96%;
        height: 20%;
    }
    #hijo7{
        width: 96%;
        height: 20%;
    }
    #padre5{
        width: 92%;
    }
}
@media only screen and (max-width: 350px){
    
    #abuelo1{
        height: 50%;
    }

    #padre1{

        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: 60%;
  
    }
    #padre2{
        width: 85%;
        height: 20%;
   
    }
    #hijo2{
        width: 85%;
        height: 10%;
        gap:10px;
    }
    #hijo1,#hijo3{
        width: 40%;
        height: 30%;
    }
    #hijo4{
        width: 85%;
        height: 30%;
        font-size:medium;
    
    }
    
    #abuelo2{
        flex-direction: column;
        height: 40%;
        background-color: gold;   
    }
    #padre3{
        
        align-content: space-around;
        width: 85%;
        height: 60%;
    }
    .hijo{
        width: 85%;
        height: 8%;
        background-color: #148da2;
    }
    
    #hijo5{
        width: 85%;
        height: 8%;
        background-color: rgb(161, 243, 243);
    }
    #padre4{
       
        width: 85%;
        height: 25%;
        background-color: rgb(242, 115, 47);
    }
 
    #hijo6{
        margin: 0px;
        width: 85%;
        height: 20%;
        background-color: rgb(246, 198, 120);
    }
    #hijo7{
        width: 85%;
        height: 20%;
        background-color: rgb(246, 198, 120);
    }
    #padre5{
        width: 85%;
        background-color: antiquewhite;
    }
}